@model Attachments

<div class="">
    <div class="row offset-2">
        <div>File Name</div>    <a class="offset-1"> @Model.Filename </a>
        <div class="offset-1">Size</div>     <a class="offset-1">@Model.FileSize </a>
        <div class="offset-1">Creater</div>   <a class="offset-1">@Model.Creater</a>
    </div>
</div>